extend includes/layout/layout.pug
block content
    include includes/pages/home/banner.pug
    include includes/pages/home/carousel.pug
    include includes/pages/home/projects.pug
    include includes/pages/home/news.pug
    include includes/pages/home/recruit.pug